<div class="row">
  <div class="col-md-12">
    <br />
    <h2>Employees</h2>
    <br />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Employee&nbsp;Num</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Status</th>
            <th>Course&nbsp;ID</th>
          </tr>
        </thead>
        <tbody>
          {{#each employees}}
            <tr>
              <td>{{employeeNum}}</td>
              <td>{{firstName}} {{lastName}}</td>
              <td><a href="mailto:{{email}}">{{email}}</a></td>
              <td>{{addressStreet}}, {{addressCity}}, {{addressProvince}}</td>
              <td>{{status}}</td>
              <td>{{course}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{#unless employees}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
  {{/unless}}
</div>